#head{
    max-width: 350px;
    min-width: 200px;
    height: 600px;
    margin-top: 30px;
    border: 1px solid #cccccc;
    background:#fdfdfd;
}
#text_inst{
    font-family: 'Casttelo Signature Regular';
    margin-top: 20px;
    text-align: center;
    font-size: 70px;

}

#but1{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    border-radius:5px;
    background-color: rgba(var(--d69,0,149,246),1);
    width: 240px;
    height: 30px;
    border: none;
    outline: none;
    margin-left: 40px;
    margin-top: 15px;
}
#but1:focus{
    border: none;
    outline: none;
    background-color: #1D9FF6;
}
#or{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 19px;
color:#919191;
/* text-align: center; */
}
.orclass{
    padding-left: 110px;
    padding-top: 20px;
}




#forms{
    margin-left: 50px;
    margin-top: 40px;
}
#form1{
    margin-bottom: 12px;
}

#form2{
    margin-bottom: 12px;
}
.input{
    
    background: rgba(var(--b3f,250,250,250),1);
    border: 0;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 2px;
    max-width: 260px;
    min-width: 230px;
    height: 30px;
    
}
.input:focus{
    border: 0.5px solid rgb(201, 199, 199);
    outline: none;
}
input::placeholder {
    color: rgba(var(--f52,142,142,142),1);
    font-size: 11px;
  }
#but2{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    border-radius:5px;
    background-color: rgba(var(--d69,0,149,246),1);
    width: 240px;
    height: 30px;
    border: none;
    outline: none;
   


    margin-left: -4px;
    margin-top: 15px;
}
#but2:focus{
    border: none;
    outline: none;
    background-color: #1D9FF6;
}

#forgett{
    color: #004675;
    font-size: 12px;
    text-align: right;

}
.from_fc{
    margin-top: 135px;
    margin-left: 118px;

}
.from_fc p{
    color:grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
